
#   - export RAILS_ENV=insiderAPI_test
# # #   - RAILS_ENV=test bundle exec rails c
  # - bundle exec rake db:create 
#   - bundle exec rake db:schema:load 
#   - bundle exec rake db:test:prepare
language: ruby

rvm:
  - 2.3.1
sudo: required
env:
  - DB=pgsql

services:
  - postgresql

script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rake

before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database insiderAPI_test;' -U postgres